html {
  font-family: Merriweather, serif;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #e2e2e2;
}

.grey {
  background-color: #f2f2f2;
  color: #333;
  border: 2px solid;
  border-radius: 8px;
}

.red {
  background-color:
  color:
  border-radius:
}

.green {
  background-color:
  color:
  border-radius:
}

.blue {
  background-color:
  color:
  border-radius:
}
